@using System.Globalization

@model LanguageSwitcher
@{
}

<div>
        Language selector:
        <ul>
            @foreach (CultureInfo ci in Model.SupportedCultures)
            {
                if (Model.CurrentController != null && Model.CurrentAction != null)
                {
                    <li>
                        <a asp-controller=@Model.CurrentController asp-action=@Model.CurrentAction 
                           asp-route-culture=@ci.Name>
                            @ci.NativeName.Substring(0, ci.NativeName.IndexOf("("))
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <localized-route asp-controller="Home" asp-action="Index">
                            @ci.NativeName.Substring(0, ci.NativeName.IndexOf("("))
                        </localized-route>
                    </li>
                }
            }
        </ul>
    </div>
