@using System.Globalization

@model LanguageSwitcher
@{
}

<div>
        Language selector:
        <ul>
            @foreach (CultureInfo ci in Model.SupportedCultures)
            {
                if (Model.CurrentController != null && Model.CurrentAction != null)
                {
            <li>@Html.ActionLink(ci.NativeName, Model.CurrentAction, Model.CurrentController, new { culture = ci.Name })</li>
                }
                else
                {
                    <li>
                        <localized-route asp-controller="Home" asp-action="Index">
                            @ci.NativeName
                        </localized-route>
                    </li>
                }
            }
        </ul>
    </div>
