@model KenticoKontentModels.Coffee

<div style="margin:auto; text-align:center; width:80%;">
    <localized-route asp-controller="Coffees" asp-action="Show" asp-route-url_pattern=@Model.UrlPattern>
        <h3>@Model.ProductName</h3>
    </localized-route>
    <div>
        <img src=@Model.Image.FirstOrDefault().Url height="50%" width="50%" />
    </div>
    <div>
        @Html.DisplayFor(vm => Model.ShortDescription)
    </div>
</div>