@using KenticoKontentModels
@model Page
@{
    Layout = null;
}

@if (Model.Content.Count() > 0 || Model.Subpages.Count() > 0)
{
<li>
    <a asp-controller=@Model.System.Codename asp-action="Index">@Model.Title</a>

    @* Check for nested navigation items *@
    @if (Model.Subpages.Count() > 0)
    {
        <ul>
            @foreach (Page page in Model.Subpages)
            {
                if (page.ShowInNavigation.FirstOrDefault().Codename == "yes")
                {
                    @Html.DisplayFor(vm => page, "NavigationLevelTwo")
                }
            }
        </ul>
    }
</li>
}