@model KenticoKontentModels.Page
@{
    Layout = null;
}

@if (Model.Content.Count() > 0 || Model.Subpages.Count() > 0)
{
    <li>
        <localized-route asp-controller=@Model.PageCodename asp-action="Index">@Model.Title</localized-route>
    </li>
}