@model KenticoKontentModels.Page
@{
    Layout = null;
}

<!-- Render 404 for content items with "ShowInNavigation" enabled
     but no corresponding "Page" or "Content" data in Kontent -->
@if (Model.Content.Count() == 0 && Model.Subpages.Count() == 0)
{
    <li>
        <a asp-controller="Errors" 
           asp-action="Error" 
           asp-route-code="404">@Model.Title</a>
    </li>
}
else
{
    <li>
        <a asp-route=@Model.Url>@Model.Title</a>
    </li>
}