@using KenticoKontentModels
@model Homepage
@{
    Layout = null;
}

<ul class="nav navbar-nav">
    <li>
        <localized-route asp-controller="Home" asp-action="Index">@Model.Title</localized-route>
    </li>
@foreach (Page page in Model.Subpages)
{
    if (page.ShowInNavigation.FirstOrDefault().Codename == "yes")
    {
        @Html.DisplayFor(vm => page, "NavigationDisplay")
    }
}
</ul>
