@using KenticoKontentModels
@model List<Article>
@{
    ViewBag.Title = "Articles";
}

<h3>Articles</h3>

@foreach (Article article in Model)
{
    @Html.DisplayFor(list => article, "ArticleListing")
}
