@using KenticoKontentModels
@model Page

<h3>Products</h3>

@foreach(Page product in Model.Subpages)
{
<div>
    <h3><a asp-controller=@product.Url asp-action="Index">@product.Title</a></h3>
</div>
}
