@using KenticoKontentModels
@model ListingViewModel
@{
    ViewBag.Title = "Brewers";
}

<h1>@Model.Content.Title</h1>

<div>@Html.DisplayFor(vm => vm.Content.Body)</div>

@foreach (Brewer brewer in Model.RelatedItems)
{
    @Html.DisplayFor(vm => brewer, "BrewerListing")
}
