@using KenticoKontentModels
@model ListingViewModel
@{
    ViewBag.Title = "Coffees";
}

<h1>@Model.Content.Title</h1>

<div>@Html.DisplayFor(vm => vm.Content.Body)</div>

@foreach (Coffee coffee in Model.RelatedItems)
{
    @Html.DisplayFor(vm => coffee, "CoffeeListing")
}
